.body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.body1{
    background: linear-gradient(to bottom, rgb(255, 255, 255) 60%, rgb(62, 128, 228));
}

.logo{
    display: flex;
    background-image: url(../imagenes/fondo\ portada.png);
    background-size: cover;
    height: 16rem;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-height: 10rem;
   
   
}

.titulo{
    
    display: flex;
    font-family: 'Bebas Neue', cursive;
    justify-content: center;

}
   
.flex-container{ 
    
    background-color: rgb(220, 213, 209);
    height: 75vh;
    padding: 10px;
    display: flex;
    gap: 20px ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   

    

}

.flex-item {
    background-color: rgb(20, 20, 20);
    color: rgb(253, 250, 250);
    width: 200px;
    border-radius: 10px;
    border-color: 150px rgb(125, 25, 178);
    box-shadow: 0px 0px 5px 1px rgb(77, 8, 85);
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    
    
    
    
    
}

.flex-item img {
    background: linear-gradient(to bottom, rgb(197, 37, 159) 70%, rgba(162, 37, 211, 0.916));
    width: 100%;
    height: auto;
    border:1px solid black;
    max-height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-color: 50px solid rgb(125, 25, 178);
    box-shadow: 30px black;
   
}

.flex-item:hover{
    
    background-color: rgb(106, 29, 125);
    box-shadow: 0px 0px 5px 3px rgb(183, 28, 134);
    color: rgb(255, 254, 254);
}

@media (min-width:400px){
    .flex-container {
        
        flex-wrap: nowrap;
        align-items: center;
    }
}





.pie{
    
    padding: 0px;
    height: 200px;
    width: auto;
    background-color: rgb(37, 36, 36);
}

.pie p {
    text-align: left;
    color: #f5edf4;
    text-shadow: rgb(250, 12, 214) 1px 0px 5px;
    padding-left: 10px;
    padding-top: 15px;
    font-size: smaller;
    
    
}


.ofertas{
    align-items: center;
}


/* css del perfil */



.foto_perfil {
    padding-left: 500px;
    padding-top: 150px;
    display:inline-block;
    

}

.foto_perfil img{
    
    max-width: 300px;
    height: 250px;
    width: 250px;
    border-radius: 125px;
    border: 5px solid rgb(34, 5, 23);
    
}

.Nombre_perfil {
    text-align: center;
    padding-left:20px;
    padding-top: 150px;
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form{
    padding-top: -100px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
  
  .form input{
    width: 90%;
    height: 30px;
    margin: .5rem
  }
  
  .form button{
    padding: .5em 1em;
    border:none;
    background: rgb(100,200,255);
    cursor: pointer;
  }
  
  .form-container{
    max-width:700px;
    margin: 0 auto;
  }
  
  .form-element {
    display: block;
    width: 80%;
    margin: 1rem auto;
    
  }

  .AVISO{
    padding-left: 400px;
    padding-top: 300px;
    text-shadow: 1px 0px 5px black;

  }
  
  
  